<!DOCTYPE html>
<html>
<head>
  <title>Routiman</title>
  <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" type="text/css"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/css/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="react-app"></div>

  <script src="/scripts/app.js"></script>
</body>
</html>
