<html>
  <head>
    <title>Routiman</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="weui-cells__title">城市</div>
    <div class="weui-cells">
      <div class="weui-cell weui-cell_select">
        <div class="weui-cell__bd">
          <select class="weui-select" id="city">
            <option value="台中市">台中市</option>
            <option value="南投縣">南投縣</option>
            <option value="桃園市">桃園市</option>
          </select>
        </div>
      </div>
    </div>
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">診所列表</div>
      <div class="weui-panel__bd"></div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
    <script>
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'Messenger'));
      function find() {
        let city = $("#city").val();
        $.ajax({
          url: '/user/list',
          type: 'post',
          dataType: 'json',
          data: {
            city: city,
          },
          success: function(data) {
            $('.weui-panel__bd').html('');
            $.each(data, function(i, v) {
              let c = '<a cid="'+v._id+'" class="clinic weui-media-box weui-media-box_appmsg">'
                      +'<div class="weui-media-box__hd">'
                      +'<img class="weui-media-box__thumb" src="'+v.logo+'">'
                      +'</div><div class="weui-media-box__bd">'
                      +'<h4 class="weui-media-box__title">'+v.name+'</h4>'
                      +'<p class="weui-media-box__desc">'+v.loc.city+v.loc.dis+v.loc.addr+'</p>'
                      +'</div></a>';
              $('.weui-panel__bd').append(c);
            });
          },
          error: function(jqXHR) {
            console.log('clinic_list_ERR: ' + jqXHR.status + ' -- ' + jqXHR.statusText);
          }
        });
      }
      function showClinic() {
        // the Messenger Extensions JS SDK is done loading
        let cid = $(this).attr("cid");
        $.ajax({
          url: '/bot/clinic',
          type: 'post',
          dataType: 'json',
          data: {
            cid: cid,
            uid: psid
          },
          success: function(data) {
            MessengerExtensions.requestCloseBrowser(function success() {
              console.log('close sucess');
            }, function error(err) {
              console.log(err);
            });
          },
          error: function(jqXHR) {
            console.log('show_clinic_ERR: ' + jqXHR.status + ' -- ' + jqXHR.statusText);
          }
        });
      }
      var psid;

      $(document).ready(function(){
        find();
        $("#city").change(find);
        window.extAsyncInit = function() {
          MessengerExtensions.getUserID(function success(uids) {
            // User ID was successfully obtained.
            psid = uids.psid;
            $('.weui-panel__bd').on('click', '.clinic', showClinic);
          }, function error(err, errorMessage) {
            // Error handling code
            alert(errorMessage);
          });
        };
      });

    </script>
  </body>
</html>
